@font-face {
    font-family: 'Racing Sans One';
    src: url('RacingSansOne-Regular.woff2') format('woff2'),
        url('RacingSansOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

